#login-main {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.login-container {
    padding: $s-size;
    margin: $m-size;
    width:450px;
    display: flex;  
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
.panel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-title {
    font-size: $l-size;
    text-align: center;
}

#login-form {
    margin-bottom: $s-size;
    align-items: center;
    justify-content: center;
}

.btn.login {

}

.login-form-field {
    display: flex;
    margin-bottom: $s-size;
}