html {
  font-size: 75%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

.btn {
  cursor: pointer;
  background: darkgreen;
  color: white;
  text-align: center;
  width: $btn-width;
  height: $btn-height;
  border-radius: $s-size;
  margin: $s-size 0;
  border: 0;
  box-shadow: none;
}

.btn:disabled {
  cursor: default;
}

.is-active {
	font-weight: bold;
}