html {
  font-size: 75%;
}

* {
  box-sizing: border-box;
}
body {
  color: $dark-grey;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size;
  background-clip: padding-box;
  font-weight: 500;
}

.btn {
  cursor: pointer;
  background: $light-green;
  color: white;
  text-align: center;
  padding: $s-size;
  border-radius: $s-size;
  margin-bottom: $s-size;
  border: 0;
  box-shadow: none;
  text-decoration: none; 
  display: inline-block;
}

.sm-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  margin-left: 10px;
  max-width: 50px;
  max-height: 30px;
}


.btn:disabled {
  cursor: default;
}

////////////////////////
//  *header css*   ////
//////////////////////

.header-title {
  font-weight: 200;
}

.page-header {
  background: $off-green;
  padding: $m-size $s-size;
  
}
.frame {
  padding: 0 $app-spacing;
  width: 100%;
}

/////////////////////////
/// *mobile css* ///////
////////////////////////

.show-for-mobile {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
  @media (max-width: $desktop-breakpoint - .01rem) {
    display: none;
  }
}