// Colors
$off-black: #20222b;
$dark-grey: #333333;
$off-green: #c0ed992b;
$light-green: #2b8c2b;
$dark-green:#1e651e;;
$light-blue:  #add8e6;
$light-red: #f7dcdc;
$delete-red: #d87171;

// Spacing
$s-size: 0.7rem;
$m-size: 1.2rem;
$l-size: 2.0rem;
$app-spacing: 5rem;
$desktop-breakpoint: 45rem;

//Font sizes
$font-size: 1.7rem;
$title-size: 2.4rem;

// button

$btn-width: 100px;
$btn-height: 40px;
